<h2>Main Navigation</h2>
<ul>
  <li>
    <h3><a href="{{ site.baseurl }}/coding-standards">Coding standards</a></h3>
    <ul>
      <li><a href="{{ site.baseurl }}/coding-standard/drupal-coding-standard">Drupal Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/coding-standard/sql-coding-standard">SQL Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/coding-standard/css-coding-standard">CSS Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/coding-standard/javascript-coding-standard">Javascript Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/coding-standard/feature-specification">Feature Specification</a></li>
      <li><a href="{{ site.baseurl }}/coding-standard/theme-specification">Theme Specification</a></li>
    </ul>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/writing-secure-code">Writing secure code</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/accessibility-best-practices">Accessibility best practices</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/project-documentation">Project documentation</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/programming-best-practices">Programming best practices</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/security-of-generated-php-files">Security of generated PHP files</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/user-interface-standards">User interface standards</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/checklist">Checklist</a></h3>
  </li>
  <li>
    <h3>Standard Components</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/standard-component/structure">Structure</a></li>
      <li><a href="{{ site.baseurl }}/standard-component/formats">Formats</a></li>
      <li><a href="{{ site.baseurl }}/standard-component/components">Components</a></li>
    </ul>
  </li>
</ul>
