<h2>Main Navigation</h2>
<ul>
  <li>
    <h3><a href="{{ site.baseurl }}/coding-standards">Coding standards</a></h3>
    <ul>
      <li>
        <h4><a href="{{ site.baseurl }}/drupal-coding-standard">Drupal (PHP) Coding standard</a></h4>
        <ul>
          <li><a href="{{ site.baseurl }}/docs">API documentation and comment standards</a></li>
          <li><a href="{{ site.baseurl }}/namespaces">Namespaces</a></li>
          <li><a href="{{ site.baseurl }}/symfony">Naming standards for Services and extending Symfony</a></li>
          <li><a href="{{ site.baseurl }}/oop">Object-oriented code</a></li>
          <li><a href="{{ site.baseurl }}/php-exceptions">PHP Exceptions</a></li>
          <li><a href="{{ site.baseurl }}/psr">PSR-x path naming conventions (PSR-4 namespaces and autoloading in Drupal 8)</a></li>
          <li><a href="{{ site.baseurl }}/placeholders">Temporary placeholders and delimiters </a></li>
          <li><a href="{{ site.baseurl }}/twig">Twig coding standards</a></li>
          <li><a href="{{ site.baseurl }}/drupal-unicode">Use Drupal Unicode functions for strings</a></li>
          <li><a href="{{ site.baseurl }}/e-all">Write E_ALL compliant code</a></li>
          <li><a href="{{ site.baseurl }}/drupal-simpletest">Drupal Simpletest coding standards</a></li>
        </ul>    
      </li>
      <li><a href="{{ site.baseurl }}/sql-coding-standard">SQL Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/css-coding-standard">CSS Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/javascript-coding-standard">Javascript Coding standard</a></li>
      <li><a href="{{ site.baseurl }}/feature-specification">Feature Specification</a></li>
      <li><a href="{{ site.baseurl }}/theme-specification">Theme Specification</a></li>
    </ul>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/writing-secure-code">Writing secure code</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/accessibility-best-practices">Accessibility best practices</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/project-documentation">Project documentation</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/programming-best-practices">Programming best practices</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/security-of-generated-php-files">Security of generated PHP files</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/user-interface-standards">User interface standards</a></h3>
  </li>
  <li>
    <h3><a href="{{ site.baseurl }}/checklist">Checklist</a></h3>
  </li>
  <li>
    <h3>Standard Components</h3>
    <ul>
      <li><a href="{{ site.baseurl }}/standard-component/structure">Structure</a></li>
      <li><a href="{{ site.baseurl }}/standard-component/formats">Formats</a></li>
      <li><a href="{{ site.baseurl }}/standard-component/components">Components</a></li>
    </ul>
  </li>
</ul>
